<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>房卡包</title>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/js/angular.min.js"></script>
    <script type="text/javascript" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/js/fastclick.js?v=2019"></script>
    <script type="text/javascript">
        document.write('<script type="text/javascript" src="./js/config.js?v='+ new Date().getTime() +'"> <\/script>');
        document.write('<script type="text/javascript" src="./js/load.js?v='+ new Date().getTime() +'"> <\/script>');
    	//var vConsole = new VConsole();
    	//var vConsole = new window.VConsole();
    </script>
    <link rel="stylesheet" href="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/fiesc/css2/package.css">
    <script type="text/javascript">


        var obj = DynLoading.hall(BaseUrl + '/ay1/rp');
        if(obj.result != 0){
            alert(obj.result_message);
            var return_url = window.location.href;
            console.log(return_url);
            window.location.href = '/index.html?return_url=' + return_url + '&t=' + obj.data.t;
        }
        console.log(obj);


        $(function () {
            wx.config({
                debug: false,
                appId: obj.data.config_ary.appId,
                timestamp: obj.data.config_ary.timestamp,
                nonceStr: obj.data.config_ary.noncestr,
                signature: obj.data.config_ary.signature,
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'hideMenuItems',
                ]
            });


            wx.ready(function () {
                wx.hideOptionMenu();
            });

        });

        var globalData = {}
        globalData.wid = obj.data.wid; globalData.tt = obj.data.tt;

        var app = angular.module('app', [])

        app.controller("myCtrl", function ($scope, $http) {
            $scope.width = window.innerWidth;
            $scope.height = window.innerHeight;

            $scope.userInfo = {
                "accountId": obj.data.account_id,
                "nickname": obj.data.user.nickname,
                "avatar": obj.data.user.headimgurl,
                "card": obj.data.card,
            }

            var socketStatus = 0;
            $(".main").show();
            $("#loading").hide();

            $scope.activity = new Array();
            $scope.isShowAlert = false;
            $scope.alertType = 0;
            $scope.alertText = "";
            $scope.cardNum = Number($scope.userInfo.card);
            $scope.number = ''; //输入数量
            $scope.inputNumber = null;  //输入框数字

            if ($scope.cardNum === null
                || $scope.cardNum === undefined
                || isNaN($scope.cardNum)) {
                $scope.cardNum = 0;
            }

            //输入框数字改变
            $scope.changeNumber = function () {
                if ($scope.inputNumber > $scope.cardNum) {
                    $scope.inputNumber = $scope.cardNum;
                }

                $scope.number = $scope.inputNumber;

                console.log($scope.inputNumber);

                if ($scope.number === undefined || $scope.number === null) {
                    $scope.number = 0;
                } else {
                    //$scope.inputNumber = $scope.number;
                }
            }
            $scope.lock = false;

            $scope.createRedPackage = function () {

                if ($scope.number === undefined
                    || $scope.number === null
                    || isNaN($scope.number)
                    || $scope.number <= 0) {
                    alert('请输入正确的房卡数');
                } else {
                    $('#createPackage').addClass('black')
                    if ($scope.lock == true) {
                        return
                    }
                    $scope.lock = true;
                    setTimeout(function () {
                        $('#createPackage').removeClass('black')
                    }, 3000)
                    $http({
                        url: BaseUrl + '/ay1/cRP',
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            "Authorization": DynLoading.getWwid()
                        },
                        withCredentials: true,//必须要填
                        data: {
                            'account_id': $scope.userInfo.id,
                            'ticket_count': $scope.number,
                            'content': '恭喜发财',
                        }
                    }).success(function (data, header, config, status) {
                        //var rpCode = data.result_message;
                        if (data.result == 0) {
                            $scope.lock = false;
                            $scope.cardNum = $scope.cardNum - $scope.inputNumber;
                            //alert(data.result_message + ' ' + data.data.code + '即将为你跳转到界面');
                            //window.location.href = "ay/rpD?red_code=" + data.data.code + "&wid=";
                            window.location.href = "/packageDetail.html?red_code=" + data.data.code;
                        } else {
                            alert(data.result_message);
                        }

                    }).error(function (data, header, config, status) {
                        alert(data.result_message);
                    });
                }

            }
            $scope.gotoHall = function () {
                //alert('你点击了我的');
                //var url = "home/index"+"";
                var url = "/index.html";

                window.location.replace(url)
            }
            $scope.gotoMyRedPackage = function () {
                //alert('你点击了我的');
                //var url = "ay/myRP" + "";
                var url = "/packageRecord.html";

                window.location.replace(url)
            }

            $scope.isShowEnterRoomNum = false;
            $scope.showEnterRoomNum = function () {
                $scope.isShowEnterRoomNum = true;
            }
            $scope.hideEnterRoomNum = function () {
                $scope.isShowEnterRoomNum = false;
            }

            $scope.enterRoomNum = function (num) {
                $scope.number=$scope.number+num
                if (parseInt($scope.number) > $scope.cardNum) {
                    $scope.number = $scope.cardNum;
                }

                console.log('number', $scope.number)
            }
            $scope.resetRoomNum = function (num) {
                $scope.number = '';
            }
            $scope.cacelNum = function () {
                if ($scope.number.toString().length == 0) {
                    return
                }
                var len = $scope.number.toString().length;
                $scope.number= $scope.number.toString().substring(0, len - 1);
            }

        })

    </script>
</head>
<link rel="stylesheet" type="text/css" href="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/css2/activity.css">

<body ng-controller="myCtrl" style="background: #000;">
<div style="position: fixed;width:100%;height:100%;top:0;left:0;background: #000" id="loading">
    <img src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/common/loading.gif"
         style="top: 40%;position: absolute;left: 50%;margin-left: -45px;margin-top: -45px;"/>
</div>
<div class="main" style="display: none;">

    <img src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/package/bg.jpg"
         style="width: 100%;position: relative;height:100%" usemap="#planetmap"/>

    <img src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/common/back2.png"
         style="    position: fixed;width: 1.2rem;top: 0.3rem;left: 10px;z-index: 102;" ng-click="gotoHall()">

    <img src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/package/text_make.png"
         style="position: absolute;left: 50%;transform: translateX(-50%);top: 3vh;height: 4vh;">

    <img src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/package/package_record.png"
         style="position: absolute;right: 3vw;top: 0.1rem;height: 1.8rem;" ng-click="gotoMyRedPackage()">

    <div style="position: fixed; top: 22vh;width: 88vw; height: 3rem;left: 50%;transform: translateX(-50%); background: url(http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/package/input.png?v=1);background-size: 100% 100%;" ng-click="showEnterRoomNum()">

    </div>

    <div style="height: 44px; position: fixed; top: 24vh; left: 50%;transform: translateX(-50%);color: #d34f34; ">
        <p style="font-size: 16pt; color: orange">我的房卡：{{cardNum}} 张</p>
    </div>
    <div style="height: 44px;position: fixed;top: 30vh;left: 50%;transform: translateX(-50%);right: 22px;border-radius: 4px;overflow: hidden;width: 60vw;box-shadow: 0 0px 1px 4px #e4e1d3;background: #b0aac4;">
        <div id="pnumber" style="left: 0px; width: 200px; height: 44px;line-height: 44px; position: absolute; font-size: 13pt; color: gray; text-align: left;background: #b0aac4;" ng-click="showEnterRoomNum()">
            {{number==''?'请输入房卡':number}}
        </div>
        <label style="position: absolute; height: 100%; line-height: 44px; right: 0px;width: 25px; color: black; font-size: 13pt; text-align: right;">张</label>
    </div>
    <div style="position: fixed; top: 42vh; left: 22px; right: 22px; height: 80px;">
        <p style="text-align: center;">
            <span style="color: #f9e151; font-size: 32pt">{{number==''?0:number}}</span>
            <span style="color: #f9e151; font-size: 20pt">张</span>
        </p>
    </div>

    <!--房间进入-->
    <div class="phone-number-box room" ng-if="isShowEnterRoomNum">
        <div class="phone-number">
            <div class="phone-number-content">
                <div class="tips-text">

                </div>

                <div class="num-box">
                    <div class="line">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/1.png"
                             ng-click="enterRoomNum(1)">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/2.png"
                             ng-click="enterRoomNum(2)">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/3.png"
                             ng-click="enterRoomNum(3)" style="margin-right: 0;">
                    </div>
                    <div class="line">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/4.png"
                             ng-click="enterRoomNum(4)">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/5.png"
                             ng-click="enterRoomNum(5)">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/6.png"
                             ng-click="enterRoomNum(6)" style="margin-right: 0;">
                    </div>
                    <div class="line">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/7.png"
                             ng-click="enterRoomNum(7)">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/8.png"
                             ng-click="enterRoomNum(8)">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/9.png"
                             ng-click="enterRoomNum(9)" style="margin-right: 0;">
                    </div>
                    <div class="line">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/reset.png"
                             ng-click="resetRoomNum()">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/0.png"
                             ng-click="enterRoomNum(0)">
                        <img class="lineNum" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/joinroom/del.png"
                             ng-click="cacelNum()" style="margin-right: 0;">
                    </div>
                </div>
<!--                <button class="phone-sure" ng-click="hideEnterRoomNum()"></button>-->
            </div>
            <div class="close-window" ng-click="hideEnterRoomNum()"></div>
        </div>
    </div>

    <img src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/package/package_box.png" style="position: absolute;width: 36vw;left: 50%;transform: translateX(-50%);bottom: 30vh; ">

    <img src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/images2/daoyou/package/btn_confirm.png" style="position: absolute;width: 62vw;left: 50%;transform: translateX(-50%);bottom: 18vh; " ng-click="createRedPackage()">

    <div style="position: absolute;color: #fff;bottom: 5vh;width: 86vw;left: 50%;transform: translateX(-50%);font-size: 18px;">
        制作红包后，将页面分享给微信好友，即可领取。在红包记录中可查看所有红包。
    </div>

    <div style="left: 22px; right: 22px; top: {{height - 120}}px; position: fixed;">
        <p style="text-align: center; color: #fff; font-size: 12pt"></p>
    </div>


</div>
<script type="text/javascript" src="http://dyxdy8.oss-cn-hangzhou.aliyuncs.com/laoyou/files/js/rem.js"></script>
<script type="text/javascript">
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 通过下面这个API隐藏右上角按钮
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
<script>
    $(document).on('click', 'img', function (e) {
        e.preventDefault();
    })
</script>

</body>
</html>
