.createRoom .mainPart .createB{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    background: #634fa6;
    border: 1px solid #a684f2;
    border-radius: 10px;
}
.createRoom .mainPart .blueBack .selectPart,.ruleRoom .ruleRoomMainPart .frameBack
{
    color: #111431;
}
.ruleRoom .ruleRoomMainPart .frameBack .ruleItem{
    color:#fff;
}
.message .textPart .textList{
    border:0px;
}
.message .textPart .textList .textItem{
    border-bottom: 1px solid rgb(105,105,104);
    color: #ffffff;
    background: rgb(20,14,42);
    background-size: 100% 300%;
}
.message .textPartOuter{
    position: absolute;
    width: 34vh;
    height: 40vh;
    bottom: 7vh;
    right: 2vh;
    padding: 1vh 1vh 1vh 1vh;
    border: 0.2vh solid #a684f2;
    background: #634fa6;
    border-radius: 1vh;
}


.alertTip{position: fixed;width: 40%;height:20%;top:40%;left:30%;z-index: 111;}
.alertTip .alertTipBG{width: 100%;height:100%;background: #000;opacity:0.5;position: absolute;border-radius: 2vh}
.alertTip img{position: absolute; margin-left: 15%;}
.alertTip .alertTipText{position: absolute;bottom: 2vh;width: 100%; text-align: center;color: #fff;font-family: simHei;font-size: 20px;}

.myText{position: fixed;bottom:.7vh;left: 1vh;z-index:90;height:5.8vh;}
.myText img{height:5.8vh;position: absolute;left: 0;top:0;z-index: 9;}
.myText .textContainer{height: 3.6vh;line-height:3.6vh;text-align: right;color:#fff;font-size:2vh;margin-top:1.1vh;position:relative;}
.myText .textContainer .textbg{position: absolute;top:0;left: 0;width: 100%;height: 100%;background: #000;opacity: .3;border-radius:1.5vh;}
.myText .textContainer .text{position: relative;padding: 0 2vh 0 5vh;}

.individuaMask{position: fixed;z-index: 98;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);}
.individuaFrame{position: fixed;z-index: 99;width: 80vw;max-width: 80vw; top: 50%; left: 50%;
    -webkit-transform:translate(-50%,-60%); background-color: #fff;
    text-align: center; border-radius: 8px; opacity: 1; color: white;
}
.individuaFrame .title{margin: 3vw 0;padding: 1vw;font-size: 5vw; line-height: 5vw; word-wrap: break-word;word-break: break-all;color: #000;background-color: white;}
.individuaFrame .text{position: relative;height: 15vw;word-wrap: break-word;word-break: break-all;color: #000;background-color: white;border-top: solid;border-color: #e6e6e6;border-width: 0px;}
.individuaFrame .text input{padding:0 12px 0 12px;position: absolute;top: 1vw;left: 9vw;width: 62vw;height: 12vw;line-height: 6.5vw;
    border-style: solid;border-width: 1px;border-radius: 0.5vh;border-color: rgb(240,240,240);background-color: rgb(240,240,240);
    font-size: 4vw;-webkit-appearance: none;
}
.individuaFrame .error{height: 4vw;line-height: 4vw;color: red;font-size: 3.5vw;text-align: left;margin-left: 10vw;}
.individuaFrame .buttonContainer{margin: 3vw 0 7vw 0;position: relative; left: 9vw;width: 62vw;line-height: 11vw; font-size: 4vw;display: flex;border-radius: 2vw;}
.individuaFrame .buttonContainer .button{
    display: block;-webkit-box-flex:1;flex: 1;text-decoration: none;
    -webkit-tap-highlight-color:transparent;position: relative;margin-bottom: 0;
    color: rgb(255,255,255);border-top: solid;border-color: #e6e6e6;border-width: 0px;border-radius: 1vw;
    background-color: rgb(64,112,251);
}
.individuaFrame .buttonClose{position: absolute;z-index: 99;width: 10vw;height: 10vw;top: -4%; left: 88%;}
.individuaFrame .buttonClose img{position: absolute;height: 100%;width: 100%;}
.createRoom .mainPart .blueBack .selectPart {
    width: 100%;
    margin-top: 4px;
    line-height: 36px;
    font-size: 2vh;
    position: relative;
    color: #002f39;
    background: #bbbff1;
    border-radius: 0px;
    font-family: simHei;
}